/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.App {
  max-width: 600px;
  min-height: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background: #f1f1f1;
  color: black;
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
